.textoSidebar{
    background-color: rgba(241, 242, 247, 1);
    position: relative;
}

.textoSidebar h4{
    position: relative;
    left: 16px;
    top: 20px;
}

.textoSidebar a{
    color:rgba(39, 50, 64, 1);
    position: relative;
    top: 10px;
}

.formPesquisar{
    width: 500px;
    position: relative;
    right: 300px;
}

.imagemCanto{
    position: relative;
    top: -10px;
    left: 20px;
    width: auto;
    height: 100px;
}