@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body{
    background-color: white;
}

.bodyLogin{
    font-family: 'Poppins', sans-serif;
}

.telaLogin {
    display: flex;             
    justify-content: space-around; 
    align-items: center;       
    height: 100vh;              
    padding: 0 50px;
    font-family: Poppins;
  }

.imagemCanto img{
    width: 146px;
    height: 146px;
    position: absolute;
    top: -250px;
    left: -220px;
    padding: 8px 16px;
}

.textoFacaLogin{
    color: black;
    width: 500px;
    height: 75px;
    position: absolute;
    top: 220px;
    left: 175px;
    padding: 8px 16px;
    border: 16px;
    font-size: 50px;
}

.textoMeuGestor{
    width: 396;
    height: 53;
    position: absolute;
    top: 300px;
    left: 190px;
    font-size: 40px;
}

.spanMeu{
    color: #3d64ff;
}

.spanGestor{
    color: #2a226d;
}

.textoEImagemLogin p{
    color: black;
    width: 308px;
    height: 24px;
    position: absolute;
    top: 390px;
    left: 190px;
    line-height: 25px;
    font-size: 15px;
}

.spanRegistrarAqui{
    color: #3d64ff;
    cursor: pointer;
}

.textoEImagemLogin img{
    width: 313px;
    height: 556px;
    position: absolute;
    top: 300px;
    left: 480px;
}

.areaDeLogin{
    position: relative;
    top: 50px;
    left: 20px;

    &__inputEmail, 
    &__inputSenha {
        background-color:rgba(216, 224, 254, 1);
        width: 369px;
        height: 62px;
        border-radius: 10px;
    }
}

input::placeholder{
    color: rgba(61, 100, 255, 1);
}

.areaDeLogin h1{
    color: rgba(42, 34, 109, 1);
    width: 81px;
    height: 45px;
    top: 145px;
    left: 892px;
    font-size: 30px;
}

.areaDeLogin__PSenha{
    width: 162;
    height: 23;
    top: 421px;
    left: 1095px;
    font-size: 13px;
    text-align: right;
    color: rgba(61, 100, 255, 1);
    cursor: pointer;
}

.areaDeLogin button{
    color: wheat;
        background-color:rgba(61, 100, 255, 1);
        width: 369px;
        height: 62px;
        border-radius: 10px;
        cursor: pointer;
}

.areaDeLogin__PContinueCom{
    position: relative;
    width: 137;
    height: 24;
    top: 60px;
    left: px;
    color: rgba(42, 34, 109, 1);
    text-align: center;
}

.areaDeLogin {
    &__imgFace,
    &__imgApple,
    &__imgGoogle{
        padding: 8px;
        position: relative;
        width: 165;
        height: 43.115577697753906;
        top: 100px;
        left: 105px;
        align-items: center;
        text-align: center;
        cursor: pointer;
    }

}





